
<div class="container">

  <div class="row">

    <div class="[ col-xs-12 col-sm-12 ]" style="padding: 1px 1px 1px 30px">
      <div class="[ panel panel-default ] panel-google-plus">
        <div class="buscar"  style="padding: 30px">
        <label>Search an offer: <input class="search" type="text" name="query" placeholder="type your search">
          </label>
        </div>
      </div>
    </div>


    <%= render 'form' %>

    <!-- refactoring en _post aca render @posts-->
    <div class="posts">
      <%= render @posts %>
    </div>


    <br>

    <script>
      $('.search').on('keyup', function(event) {
        var query = $(this).val();
        if (query.length >=3 || query.length == 0 ){
          $.ajax({
            url: '<%= posts_path %>',
            type: 'GET',
            dataType: 'script',
            data: {q: query},
          })
        }
      });
    </script>




  </div>
</div>


